body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

header.site-header {
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

h3.dog-header {
    text-align: center;
    background-color: #5BB85B;
    width: 6em;
    height: 2em;
    padding-top: .7em;
    border-radius: .5em;
    box-shadow: 2px 2px slategray;
}

h3.cat-header {
    text-align: center;
    background-color: #5BC0DF;
    width: 6em;
    height: 2em;
    padding-top: .7em;
    border-radius: .5em;
    box-shadow: 2px 2px slategray;
}

h3.dino-header {
    text-align: center;
    background-color: #F0AD4D;
    width: 6em;
    height: 2em;
    padding-top: .7em;
    border-radius: .5em;
    box-shadow: 2px 2px slategray;
}

.pet-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pet {
    border: 1px solid black;
    text-align: center;
    height: 30em;
    width: 30em;
    flex: 0 0 25%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    margin: 2em;
}

.pet p {
    margin: 0 auto;
}
.pet img {
    height: 15em;
    width: 15em;
    margin-top: 2em;
    box-shadow: 2px 2px slategray;
    align-self: center;
}

.cardhead {
    background-color: mediumorchid;
    height: 4em;
    text-align: center;
    padding-top: .2em;
    justify-content: center;
    border-bottom: 1px solid black;
}

.dino {
    background-color: #F0AD4D;
    height: 3em;
}

.cat {
    background-color: #5BC0DF;
    height: 3em;
}

.dog {
    background-color: #5BB85B;
    height: 3em;
}
