body {
    background-color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
}

h1 {
    text-align: center;
}

header.site-header {
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.filterInputs {
    padding-bottom: 5px;
}

.filterInputs input {
    display: none;
}

.filterInputs label  {
    display: inline-block;
    position: relative;
    padding: 1em 2em;
    cursor: pointer;
    user-select: none; 
    background-color: red;
}


.filterInputs i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px black;
    z-index: -1;
}

.filterInputs label.dogs {
    background: #5BB85B;
}

.filterInputs label.cats {
    background: #5BC0DF;
}

.filterInputs label.dinos {
    background: #F0AD4D;
}


.pet-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pets {
    border: 1px solid black;
    text-align: center;
    height: 30em;
    width: 30em;
    flex: 0 0 25%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    margin: 2em;
    border-radius: 3em;
    box-shadow: 2px 2px slategray
}

.show {
    display: flex;
}
.pets p {
    margin: 0 auto;
    text-align: center;
}
.pets img {
    height: 15em;
    width: 17em;
    margin-top: 2em;
    box-shadow: 2px 2px slategray;
    align-self: center;
}

.cardhead {
    background-color: mediumorchid;
    height: 4em;
    text-align: center;
    padding-top: .2em;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.dino {
    background-color: #F0AD4D;
    height: 3em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.cat {
    background-color: #5BC0DF;
    height: 3em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.dog {
    background-color: #5BB85B;
    height: 3em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

h3.dino {
    text-align: center;
    padding-bottom: 2em;
}

.is-hidden {
    display: none;
}