body {
    background-color: #DB78AB;
    font-family: 'Bebas Neue', cursive;
}

h1 {
    text-align: center;
    color: white;
    font-size: 400%;
}

header.site-header {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.all-button {
    background-color: crimson;
    border-color: crimson;
    width: 6em;
    height: 4em;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 1.2em;
    font-size: 102%;
    font-family: 'Bebas Neue', cursive;
}

.dog-button {
    background: #5BB85B;
    border-color: #5BB85B;
    width: 6em;
    height: 4em;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 1.2em;
    font-size: 102%;
    font-family: 'Bebas Neue', cursive;
}

.cat-button {
    background: #5BC0DF;
    border-color: #5BC0DF;
    width: 6em;
    height: 4em;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 1.2em;
    font-size: 102%;
    font-family: 'Bebas Neue', cursive;
}

.dino-button {
    background: #F0AD4D;
    border-color: #F0AD4D;
    width: 6em;
    height: 4em;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 1.2em;
    font-size: 102%;
    font-family: 'Bebas Neue', cursive;
}

.pet-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pets {
    text-align: center;
    height: 30em;
    width: 30em;
    flex: 0 0 28%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    margin: 2em;
    border-radius: 3em;
    background-color: rgb(247, 232, 173);
}


.pets p {
    margin: 0 auto;
    text-align: center;

}
.pets img {
    height: 15em;
    width: 17em;
    margin: .5em;
    align-self: center;
}

.cardhead {
    background-color: #824670;
    height: 4em;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    color: whitesmoke;
}

.dino {
    background-color: #F0AD4D;
    height: 3em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    color: whitesmoke;
}

.cat {
    background-color: #5BC0DF;
    height: 3em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    color: whitesmoke;
}

.dog {
    background-color: #5BB85B;
    height: 3em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    color: whitesmoke;
}

h3.dino {
    text-align: center;
    padding-bottom: 2em;
}
